BACKEND_APP_NAME=KB AI Challenge API
BACKEND_DATABASE_URL=postgresql+psycopg://postgres@localhost:5432/kb_ai_challenge
BACKEND_MIGRATION_DATABASE_URL=postgresql+psycopg://postgres@localhost:5432/kb_ai_challenge
BACKEND_CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://2026-kb-ai-challenge-kirby.vercel.app
