@theme {
  --color-background: #ffffff;
  --color-foreground: #191f28;

  --color-primary: #ffcc00;
  --color-primary-foreground: #191f28;

  --color-muted: #f7f8fa;
  --color-muted-foreground: #6b7684;

  --color-border: #e5e8eb;
  --color-input-background: #ffffff;
}

:root {
  --color-error: #f04452;
  --content-max-width: 1200px;
}
